@font-face {
    font-family: robotoBold;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: robotoNormal;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: robotoThin;
    src: url("../fonts/Roboto-Thin.ttf");
}
@font-face {
    font-family: OpensansBold;
    src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: OpensansNormal;
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: OpenSansThin;
    src: url("../fonts/OpenSans-Light.ttf");
}