#project{
    min-height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.codeuser{
    border: 0px;
    height: 300px;
    width: 45%;
    margin: 0;
    float:left;
    resize: none;
}
.containerproject{
    text-align: left;
    max-width: 900px;
    width: 80%;
}
#pagina{
    text-align: left;
    padding:0;
    margin: 0;
    width: 45%;
    height: 300px;
    float: right;
    background-color: white;
    overflow: scroll;
}
#project input {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: 3px solid #1D8DC1;
  background-color: #209bd8;
  color: white;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 20px; 
cursor: pointer;}

#project input:focus {
  background-color: #1D8DC1;
  border: 3px solid #1D8DC1; }
#project p{
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    font-size: 15px;
    font-family: 'Montserrat', sans-serxif;
    color: rgba(1, 1, 1, 0.7);
}
#project h3{
    padding-top: 15px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1D8DC1;
}
#project h4{
    padding-top: 15px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba(1, 1, 1, 0.4);
}
@media screen and (max-width: 700px)
{
    #pagina{
        width: 100%;
        
    }
    .codeuser{
        width: 100%;
        margin-bottom: 20px;
    }
}