#works{
    min-height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#works h3{
    padding-top: 20px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #334b59;
}
#works p{
    padding: 0 20px 20px 20px;
    max-width: 600px;
    margin: 0 auto;
    font-size: 15px;
    font-family: 'Montserrat', sans-serxif;
    color: #666666;
}
.work{
    width: 300px;
    margin: 10px;
    height: 200px;
    display: inline-block;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    overflow: hidden;
    transition: all 1s ease-in-out;
}
.work:hover .cost{
    transform: translateX(0px);
    opacity: 1;
}
.cost{
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.4);
    opacity: 0;
    transform: translateY(-200px);
    transition: all 1s ease-in-out;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serxif;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cost h1{
    color: white;
    font-family: 'Montserrat', sans-serxif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.work:first-child{
    background-color: #e2ba1c;
    background-image: url(../img/websiteimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.work:nth-child(2){
    background-color: #209bd8;
    background-image: url(../img/logoimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.work:nth-child(3){
    background-color: #4cd964;
}
.work:nth-child(4){
    background-color: #bd8cbf;
}
.work:nth-child(5)
{
    background-color:  #ff004e;
    background-image: url(../img/photoimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.containerwork{
    max-width: 968px;
    margin: 0 atuo;
    padding-bottom: 30px;
}
.work.is-showing {
    opacity: 1;
    transform: translateY(0px);
}
.buttona{
    background-color: #209bd8;
    padding: 20px 100px 20px 100px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    border: 3px solid #cccccc;
    margin-bottom: 50px;
    cursor: pointer;
}
.buttona:hover{
    background-color: #1D8DC1;
}
#shopnumber{
    position: absolute;
    opacity: 0;
    height: 15px;
    margin-left: 50px;
    margin-top: -30px;
    width: 15px;
    background-color: #209bd8;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
    line-height: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 7px;
    color: white;
}
#shopnumber:hover{
    background-color: #1D8DC1;
}