#header{
    height: calc(30% - 40px);
    position: relative;
    width: 100%;
    background-color: #015077;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    overflow: hidden;
}
#header:hover{
    background-color: #015782;
}
#header .title{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    /*background-image: url(../../img/logo2.png);
    background-position: center;
    background-repeat: no-repeat;*/
}
#header .title img{
    width: 100%;
    max-width: 500px;
    display: inline-block;
}