/*general home*/
.home{
    min-height: 70%;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.home .left{
    float: left;
    width: 45%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    text-align: center;
    background-image: url(../../img/verticalblue.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.home .right{
    float: right;
    width: 55%;
    height: 70%;
    background-color: #209bd8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    text-align: center;
}

/*right side of the home*/
.home .right h1{
    color: white;
    /*font-weight: bold;*/
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 0 50px 50px 50px;
    max-width: 700px;
}
h2{
    color: white;
    /*font-weight: bold;*/
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 0 10px 10px 10px;
    max-width: 700px;
}
h2 a{
    color: white;
    text-decoration: none;
}
.home .right h2:last-child{
    margin-bottom: 20px;
}
colorchange{
    color: #015077;
}
.home .right h3{
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.home .right .avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    margin: 30px;
}
.bottom{
    margin-bottom: 20px;
}
.arrow{
    position: absolute;
    text-align: center;
    line-height: 60px;
    top: 92%;
    left: 73%;
    color: white;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    background-image: url(../../img/arrow.png);
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}
.arrow a{
    color: white;
    text-decoration: none;
    font-size: 40px;
}
.arrow:hover{
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
}
/*left side of the home*/

@media screen and (max-width: 460px) {
}

@media screen and (max-width: 900px) {
    .home .left{
        width: 100%;
    }
    .home .right{
        width: 100%;
        height: auto;
    }
    .arrow{
        display: none;
    }
    .arrow2{
        display: none;
    }
    .home{
        height: auto;
        width: 100%;
    }
    .home .right h1{
        max-width: 350px;
    }
    .home .left{
        background-image: url(../../img/orizzontaleblue.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    }
}