#shop{
    min-height: 100%;
    width: 100%;
}
/*#shop .left{
    float: left;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    text-align: center;
    background-color: rgba(1,1,1,0.1);
}*/
#shop .right{
    float: right;
    width: 100%;
    height: 100%;
    background-color: #25b1f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    text-align: center;
}
@media screen and (max-width: 460px) {
    .#shop h1{
        font-size: 8px;
    }
    #shop h3{
        font-size: 8px;
    }
}
#shop .right h1{
    color: white;
    /*font-weight: bold;*/
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 0 50px 20px 50px;
    max-width: 700px; 
}
#shop .right h3{
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.containerShop{
    width: 90%;
    max-width: 510px;
}
.bottom{
    padding-bottom: 20px;
}
.leftshop{
    width: 50%;
    float: left;
}
.rightshop{
    width: 50%;
    float: right;
}
#shop ul{
    list-style-type: none;
    width: 100%;
}
#shop ul li{
    margin: 30px 5px 30px 5px;
}
#shop .shopelement{
    width: 90%;
    height: 30px;
    line-height: 30px;
    background-color: white;
    margin: 0 auto;
    border-radius: 4px;
}
#shop .shopelement .btn {
    width: 35%;
    float: right;
    background-color: #015077;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    letter-spacing: 5px;
}
#shop .shopelement .pleft{
    width: calc(65% - 10px);
    margin-left: 10px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: rgba(1,1,1,0.5);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 5px;
}
#shop .shopelement .btn{
    font-family: 'Open Sans', sans-serif;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 5px;
}
.btnleft{
    width: 35%;
    float: left;
    background-color: #015077;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 5px;
}
.pright{
    width: calc(65% - 10px);
    margin-left: 10px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    color: rgba(1,1,1,0.5);
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 5px;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btnleft a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 900px)
{
    #shop .shopelement .btn{
    font-size: 8px;
    letter-spacing: 1px;
    }
    #shop .shopelement .btnleft{
    font-size: 8px;
    letter-spacing: 1px;
    }
    #shop .shopelement .pright{
    font-size: 8px;
    letter-spacing: 1px;
    }
    #shop .shopelement .pleft{
    font-size: 8px;
    letter-spacing: 1px;
    }
}